.playtime-tournament-window {
  display: grid;
  grid-template-rows: 56px 1fr;

  .tournament-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--grayscale-900);
    color: var(--grayscale-100);

    .tournament-title {
      width: 150px;
      padding: 16px;
      text-wrap: nowrap;
    }

    .home-button {
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      margin-left: 96px;
      margin-right: 8px;
      text-align: right;
      cursor: pointer;

      font-size: 22px;

      &:hover {
        color: var(--grayscale-200);
      }
    }

    .results-toggle {
      height: 100%;

      display: flex;
      justify-content: space-between;
      gap: 16px;
      padding: 8px;

      font-size: 17px;

      .toggle-button {
        padding: 8px;

        &.active {
          font-weight: 900;
          border-bottom: 2px solid var(--grayscale-100);
        }
      }
    }
  }

  .tournament-window-body {
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 24px;
  }
}