.registration-tournament-window {
  display: grid;
  grid-template-rows: 56px 1fr;
  
  .tournament-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    background-color: var(--grayscale-900);
    color: var(--grayscale-100);

    .home-button {
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      text-align: right;
      cursor: pointer;

      font-size: 22px;

      &:hover {
        color: var(--grayscale-200);
      }
    }
  }

  .tournament-window-body {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    .players-section {
      min-width: fit-content;
      width: 500px;
      max-height: 100%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-radius: 16px;

      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);  
      -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

      .new-player-input-wrapper {
        display: flex;
        align-items: center;

        width: 100%;
        min-height: 43px;
        border-radius: 8px;
        overflow: hidden;

        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);  
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

        .new-player-input {
          flex-grow: 1;
          border: 0;
        }

        .icon-wrapper {
          width: 43px;
          height: 100%;
          background-color: var(--grayscale-900);
          display: flex;

          justify-content: center;
          align-items: center;

          cursor: pointer;

          .add-icon {
            color: var(--grayscale-100);
            width: 22px;
            height: 22px;
          }

          &:hover {
            background-color: var(--grayscale-800);
          }
        }
      }

      .players {
        border: 1px solid var(--grayscale-150);
        border-radius: 8px;
        max-height: calc(100vh - 56px);
        overflow: auto;

        .players-wrapper {
          .player {
            max-width: 60vw;
            padding: 8px;
            border-bottom: 1px solid var(--grayscale-150);

            display: flex;
            justify-content: space-between;
            gap: 8px;
            align-items: center;

            .player-name {
              text-wrap: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .remove-icon {
              display: none;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }

            &:hover {
              .remove-icon {
                display: block;
              }

              .player-name {
                max-width: calc(100% - 20px);
              }
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}